#principal_vbox {
}

#AnchorJugA {
    -fx-background-color: linear-gradient(to bottom, #fff, #004DFF);
}

#AnchorJugB {
    -fx-background-color: linear-gradient(to bottom, #fff, #6C00FF);
}

#tablaJugA {
    -fx-background-color: linear-gradient(to bottom, #fff, #A7A7A7);

}
#tablaJugB {
    -fx-background-color: linear-gradient(to bottom, #fff, #A7A7A7);
}

#oddcolumna {
    -fx-background-color: #6e6e6e;
}
TableColumn {
    -fx-border-style: solid;
    -fx-border-color: limegreen;
    -fx-border-width: 1pt;
}

#principal_hbox {
    -fx-background-image: url(../img/logo.png);
    -fx-background-repeat: no-repeat;
}
Button {
    -fx-background-color: #383433;
}

Button:hover {
    -fx-background-color: #6B6462;
}



